<form [formGroup]="addPlayerForm" (submit)="addTeam()">
    <div class="row">
        <div class="col-xs-5">
            <input id="player1" type="text" class="form-control" formControlName="player1" placeholder="Nouveau joueur 1">
        </div>
        <div class="col-xs-5">
            <input id="player2" type="text" class="form-control" formControlName="player2" placeholder="Nouveau joueur 2">
        </div>
        <div class="col-xs-2 align-center">
            <button class="btn btn-primary" type="submit">
                +
            </button>
        </div>
    </div>
</form>