<!--
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a href="#players" role="tab" data-toggle="tab">Joueurs</a></li>
    <li><a href="#tour1" role="tab" data-toggle="tab">Tour 1</a></li>
    <li><a href="#tour2" role="tab" data-toggle="tab">Tour 2</a></li>
    <li><a href="#tour3" role="tab" data-toggle="tab">Tour 3</a></li>
    <li><a href="#ranking" role="tab" data-toggle="tab">Classement</a></li>
</ul>
-->

<!-- <tabset [justified]="true"> -->
    <!-- PLYERS LIST -->
    <!-- <tab [active]="'true'" (select)="tabSelected(TAB_INFO)" heading="Liste des joueurs"> -->
        <player-list></player-list>    
    <!-- </tab>
    <!-- ROUND 1 -->
    <!-- ROUND 2 -->
    <!-- ROUND 3 -->
    <!-- RANKING -->
<!-- </tabset> -->
